# Default ignored files
/shelf/
/workspace.xml

# Compiled output
*.apk
*.ap_
*.dex
*.class
*.aar
*.so
build/
out/
app/build/
 
# Gradle files
.gradle/
build.gradle
settings.gradle
gradlew
gradlew.bat
gradle-wrapper.properties
 
# Local configuration file (sdk path, etc)
local.properties
 
# Log Files
*.log
 
# Android Studio navigation files
.idea/
 
# Keystore files
*.jks
